*,
*::after,
*::before {
    margin: 0;
    /*Like h1 element browser will add margin automatically*/
    padding: 0;
    box-sizing: inherit;
    /*By default, browser will calculate borders and paddings are added to the height and width*/
}

html {
    font-size: 62.5%;

    @include respond(big-desktop){
        font-size:75%;
    }

    @include respond(desktop){
        font-size: 62.5%;
    }

    @include respond(tab-land){
        font-size:56.25%;
    }

    @include respond(tab-port){
        font-size:50%;
    }

    @include respond(phone){
        font-size: 30%;
    }

}

body {
    font-family: "Lato", sans-serif;
    /*Everything regarding to font better be body element, if Lato is not applied, it goes to San-Sarif*/
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    /*1.7 times larger than deault*/
    color: $color-grey;
    padding: 1.5rem;

    box-sizing: border-box;
}