<div class="checkbox__container">
  <input type="checkbox" class="checkbox__input" id="checkbox__A" />
  <label for="checkbox__A" class="checkbox__label">
    <div class="checkbox__span__container">
      <span class="checkbox__span"></span>
    </div>
    <div class="checkbox__text">
      {{text}}
    </div>
  </label>
</div>