@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/story";

@import "layout/header";
@import "layout/grid";














/* Example for Chpater 3 inheritance */
.grandparent {
    line-height: 5rem;
    width: 5rem;
}

.parent {
    line-height: 1.5em;
    width: 1.5em;
}

.child {
    font-size: 2.5rem;
}