:root {
  --color-primary: #2C72AD;
  --color-secondary: #FBD04D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-black: #000;
  --color-white: #fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: var(--color-grey-light-4); }

@keyframes checkboxin {
  from {
    background-image: linear-gradient(to right, transparent, transparent 50%, var(--color-primary) 50%, var(--color-primary));
    background-position: 0%;
    background-size: 200%; }
  to {
    background-image: linear-gradient(to right, transparent, transparent 50%, var(--color-primary) 50%, var(--color-primary));
    background-position: 100%;
    background-size: 200%; } }

@keyframes radioout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

main.container {
  height: 40rem;
  width: 60%;
  background-color: var(--color-white);
  border-radius: .5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form-group {
  font-size: 2rem;
  display: flex;
  justify-content: center; }

.radio__container {
  margin-left: 1em; }

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer; }

.checkbox__span__container {
  width: 2em;
  height: 2em;
  border: 0.3em solid var(--color-secondary);
  display: inline-block; }

.checkbox__span {
  width: 1em;
  height: .2em;
  display: inline-block;
  position: relative;
  transform: rotate(255deg);
  margin-left: -.1em; }

.checkbox__span::after {
  content: "";
  width: 2em;
  height: .2em;
  display: inline-block;
  position: absolute;
  left: -.35em;
  top: .65em;
  transform: rotate(225deg);
  border-bottom-right-radius: .05em;
  border-top-right-radius: .05em; }

.checkbox__input {
  display: none; }

.checkbox__input:checked + .checkbox__label .checkbox__span {
  animation-name: checkboxin;
  animation-duration: .3s;
  animation-fill-mode: forwards; }

.checkbox__input:checked + .checkbox__label .checkbox__span::after {
  animation-name: checkboxin;
  animation-duration: .5s;
  animation-delay: .2s;
  animation-fill-mode: forwards; }

.checkbox__input:checked + .checkbox__label .checkbox__span__container {
  background-color: var(--color-secondary); }

.checkbox__label:hover .checkbox__span__container {
  background-color: var(--color-primary); }

.bar__container {
  width: 100%;
  height: 2.5em;
  background-color: var(--color-secondary);
  background-image: linear-gradient(to right, var(--color-white), var(--color-white) 50%, var(--color-primary) 50%, var(--color-primary));
  background-position: 0%;
  background-size: 200%;
  transition: background-position 3s; }
  .bar__container:hover {
    background-image: linear-gradient(to right, var(--color-white), var(--color-white) 50%, var(--color-primary) 50%, var(--color-primary));
    background-position: 100%;
    background-size: 200%;
    background-color: var(--color-primary); }

.radio__span__container {
  width: 2em;
  height: 2em;
  border: 0.3em solid var(--color-secondary);
  border-radius: 50%;
  display: inline-block;
  position: relative; }

.radio__label {
  display: flex;
  align-items: center;
  gap: .5em; }

.radio__span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent; }
  .radio__span::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 1s; }

.radio__input:checked + .radio__label .radio__span::after {
  background-color: var(--color-primary); }

.radio__label:hover .radio__span {
  background-color: var(--color-primary); }
