@keyframes checkboxin {
    from {
        background-image: linear-gradient(to right, transparent, transparent 50%, var(--color-primary) 50%, var(--color-primary));
        background-position: 0%;
        background-size: 200%;
    }
    to{
        background-image: linear-gradient(to right, transparent, transparent 50%, var(--color-primary) 50%, var(--color-primary));
        background-position: 100%;
        background-size: 200%;
    }
}

@keyframes radioout {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}