.checkbox{

    &__label{
        position: relative;
        display: flex;
        align-items: center;
        gap: .5em;
        cursor: pointer;
    }

    &__span__container{
        width: 2em;
        height: 2em;
        border: .3em solid var(--color-secondary);
        display: inline-block;
        text-align: center;
    }

    &__span{
        width: 1em;
        height: .2em;
        display: inline-block;
        position: relative;
        transform: rotate(255deg);
        margin-left: -.4em;
    }
    &__span::after{
        content:"";
        width: 2em;
        height: .2em;
        display: inline-block;
        position: absolute;
        left: -.35em;
        top: .65em;
        transform: rotate(225deg);
        border-bottom-right-radius: .05em;
        border-top-right-radius: .05em;
    }
    &__input{
        display: none;
    }
    &__input:checked + &__label &__span{
        animation-name: checkboxin;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }

    &__input:checked + &__label &__span::after{
        animation-name: checkboxin;
        animation-duration: .5s;
        animation-delay: .2s;
        animation-fill-mode: forwards;
        
    }
    &__input:checked + &__label &__span__container{
        background-color: var(--color-secondary);
    }
    // We can comment out this line to change effect of hover
    // &__label:hover &__span, &__label:hover &__span::after{
    //     background-color: var(--color-primary);
    // }
}