.radio{
    &__container{
        margin: 2em 3em;
    }
    &__span__container{
        width: 2em;
        height: 2em;
        border: .3em solid var(--color-secondary);
        border-radius: 50%;
        display: inline-block;
        position: relative;
    }

    &__label{
        display: flex;
        align-items: center;
        gap: .5em;
        cursor: pointer;
    }

    &__span{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: transparent;
        
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &__input:checked + &__label &__span::after{
        background-color: var(--color-primary);
    }

    &__input:not(:checked) + &__label &__span::after{
        animation: radioout 1s;
    }

    &__input{
        display: none;
    }

    &__label:hover &__span{
        background-color: var(--color-primary);
    }
}