.spin__container{
    margin: auto;
    width: 5em;
    line-height: 5em;
    min-height: 5em;
    cursor: pointer;
}

.spin__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spin{
    //margin: 2em 3em;

    width: 5em;
    height: 5em;
    border: .5em solid var(--color-secondary);
    border-radius: 50%;
    position: absolute;

}

.spin2{
    
        content:"";
        position: absolute;
        width: 5em;
        height: 5em;
        border-radius: 50%;
        border: .5em solid;
        border-color: var(--color-primary) var(--color-secondary) var(--color-secondary) var(--color-secondary);
        opacity: 0;
    
}

.spin__container:hover .spin2{
    opacity: 1;
    animation: circlerotate 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}