<div class="checkbox__container--new">
  <input type="checkbox" class="checkbox__input--new" id="checkbox--new" />
  <label for="checkbox--new" class="checkbox__label--new">
    <div class="checkbox__frame">
      <div class="checkbox__checkmark">
        <div class="checkbox__shape"></div>
      </div>
      <div class="checkbox__rectangle">
      </div>
    </div>
    <div class="checkbox__text--new">
      {{text}}
    </div>
  </label>
</div>